# Website Configuration
NEXT_PUBLIC_SITE_NAME="Project Cornelia"
NEXT_PUBLIC_SITE_URL="https://projectcornelia.org"
NEXT_PUBLIC_CONTACT_EMAIL="contact.projectcornelia@gmail.com"

# Payload CMS Configuration
PAYLOAD_CONFIG_PATH=
PAYLOAD_SECRET=
DATABASE_URL=

# Database
DB_URI=
TURSO_DB_URL=
AUTH_TOKEN=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Social Media Links
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_LINKEDIN_URL=

# External Forms & Links
NEXT_PUBLIC_WORK_WITH_US_FORM=
NEXT_PUBLIC_WRITE_FOR_US_FORM=
NEXT_PUBLIC_DONATE_LINK=
